<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/accident_purpose.css')}}">
    <link rel="stylesheet" href="../static/css/d31styles.css">
    <title>Accidents by purpose of flight</title>
</head>

<body>
    <!--Header showcase-->
    <header id="showcase" class="grid">
        <div class="bg-image">
            <div class="content-wrap">
                <h1> Accidents by Purpose of flight </h1>
            </div>
        </div>
    </header>
    <main id="main">
        <!--Section A-->
        <section id="section-a" class="grid">
            <div class="content-wrap">
                <h2 class="content-title"> Air show, it is.</h2>
                <div class="content-text">
                    <p> Highest serious injuries occurred were due to 'Air Race/Shows'.</p>
                    <p> The investigation type was an accident. </p>
                </div>
            </div>
        </section>
        <!--Section B-->
        <section id="section-b" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">Vizualizations </h2>
                <div class="content-text">
                      <!-- Plot for purposehere -->
                    <div class="purpose_plot"></div> 
                </div>   
            </div>
        </section>
    </main>
    <!--Footer-->
    <footer id="main-footer">
        <div>Project Link: <br>
            Github:<a href="https://github.com/tejalkotkar/Aviation_Accident_Analysis" , target="_blank">Project
                Aviation Saftey</a>
        </div>
    </footer>
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <script type='text/javascript' src='static/js/flightPurpose.js'></script>
</body>

</html>